HTML {
  width: 100vw;
}
body {
  margin: 0;
  background-color: rgb(141, 99, 99);
  text-align: center;
  display: flex;
  width: 100%;
}

.newform {
  margin: 10px;
}

.allshows {
  display: flex;
  flex-flow: row wrap;
}

.posts {
  background-color: rgb(155, 151, 151);
  height: 230px;
  width: 350px;
  border-radius: 8%;
  box-shadow: rgb(100, 100, 100) 8px 0px 8px;
  text-align: center;
  margin: 25px;
}

.navbar {
  background-image: linear-gradient(rgb(141, 99, 99), rgb(202, 199, 199)) ;
  width: 100%;
}

#root {
  width: 100%;
}

.navbuttons {
  display: flex;
  flex-flow: row wrap;
}

a {
  text-decoration: none;
  margin: 5px;
  color: black;
}

a:hover {
  color: white;
}

img {
  height: 250px;
  width: 250px;
}

.themecolor {
  border-radius: 10px;
}

.themecolor:hover {
  box-shadow: rgb(100, 100, 100) 8px 0px 8px;
}